@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
}

#img-header {
  width: 100%;
  height: 90vh;
  background-color: rgb(40, 191, 239, 0.47);
  display: flex;
  align-items: center;
}

#boy {
  margin-left: 200px;
  width: 80%;
  height: 30rem;
  mix-blend-mode: darken;
}

.text {
  text-transform: uppercase;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: 'Saira Condensed', sans-serif;
  margin-left: 10vw;
}

section {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.provide {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  margin-top: 4rem;
}

#line {
  margin-top: 20px;
  width: 100px;
  height: 5px;
  background-color: #0085FF;
}

.container {
  background-color: rgb(23, 233, 107, 0.92);
  width: 16vw;
  height: 40vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.bi-book {
  font-size: 3.5rem;
}

.candidate {
  font-size: 1.9rem;
  text-align: center;
  padding: 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}

footer {
  width: 100%;
  height: 35vh;
  background-color: #282828;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

.log-feed {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.feedo {
  font-size: 2rem;
  margin-left: 13.5rem;
  font-family: 'Bebas Neue',cursive;
}

hr {
  width: 88%;
  color: #fff;
  margin-top: 8rem;
  margin-left: 6rem;
}

.love {
  text-align: center;
  margin-top: 20px;
}

