@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');

.label-option-text {
  margin-left: 1rem;
  vertical-align: middle;
}

.input-slider {
  margin-left: 4rem;
  vertical-align: middle;
}

#qns {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.options {
  margin-left: 38%;
  font-size: 1.5rem;
  font-family: 'Saira Condensed',sans-serif;
}